@import '../../../shared/mixins';


.umana-home {
    width: 100%;
    display: flex;
    min-height: calc(100vh - 200px);
    align-items: center;
    justify-content: space-between;
    @include element(content) {
        width: 100%;
        @include bp(large) {
            width: 30%;
        }
    }
    @include element(options) {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include bp(large) {
            width: 65%;
        } 
    }
}

.umana-card {
    height: auto;
    display: flex;
    flex-direction: column;
    &.grid-card-2 {
        width: 100%;
        @include bp(xmedium) {
            width: 50%;
        }
    }
    @include element(img) {
        width: 100%;
        height: 70%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    @include element(content) {
        width: 100%;
        height: 30%;
        padding: 20px;
        background: $bg-blue;
        color: $color-black;
        position: relative;
        &:before {
            content: '';
            width: 3px;
            height: 63px;
            background: $color-orange;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
        }
    }
    &:hover {
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.07);
        .umana-card__content {
            background: $bg-orange;
            color: $color-black;
            h2 {
                color: $color-orange;
            }
            p {
                color: #444444;
            }
            &:before {
                opacity: 1;
            }
        }
    }
}