@import '../../shared/mixins';

.umana-catalogos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to bottom, $bg-blue 0, $bg-blue 400px, $color-white 400px, $color-white 100%);
    @include element(table) {
        width: 100%;
        background: $color-white;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        padding: 30px 30px 50px;
    }
}

.ant-list {
    .ant-list-header {
				padding-top: 0;
        p {
					text-transform: uppercase;
					font-size: 15px;
					margin-bottom: 0;
					text-align: right;
					span {
						color: $color-blue;
						margin-left: 20px;
					}
        }
		}	
		.ant-list-item {
			padding: 0;
		}	
		.ant-list-items--container {
			display: flex;
			flex-direction: column;
			&:last-child {
				border-bottom: $border;
			}
		}
		.ant-list-items--parent {
			padding: 10px;
			display: flex;
			justify-content: space-between;
			font-size: 16px;
			color: $color-blue;
			background: $bg-blue;
			border-top: 0;
		}
		.ant-list-items--childrens {
			border-top: $border;
				.ant-list-item {
					padding: 10px 10px 10px 50px;
					display: flex; 
					justify-content: space-between;
					&:last-child {
						border-bottom: 0 !important;
					}
				}
		}
	}