@import '../../shared/mixins';

.ant-btn {
  width: 100%;
  background: $color-blue;
  color: $color-white;
  height: 60px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  &.ant-btn-circle {
    cursor: pointer;
    background: transparent;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border: $border-blue;
    border-radius: 40px;
    @include bp(xmedium) {
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
    }
    .anticon {
      color: $color-blue;
      font-size: 30px;
      @include bp(xmedium) {
        font-size: 40px;
      }
    }
    &:hover {
      background: $color-white;
      border: 1px solid rgba($color-blue, 0.5);
    }
    &:focus, &:active {
      background: $color-white;
    }
  }
  &.ant-btn-link {
    background: transparent;
    width: 100px;
    padding: 0 10px;
    height: 30px;
    color: $color-blue;
    margin-bottom: 0;
  }
}