@import '../../shared/mixins';

.ant-input-number {
  width: 100%;
  background: $bg-blue;
  border: 0;
  border-radius: 0;
  outline: none;
  color: $color-blue;
  height: 40px;
  padding: 5px 15px;
  &:focus {
    box-shadow: 0 !important;
    background: $color-white;
    border: $border-blue;
  }
  &::placeholder {
    color: rgba($color-black, 0.5);
  }
}