@import '../../shared/mixins.scss';

.umana-menu {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    justify-content: center;
    padding: 0;
    @include bp(xmedium) {
        justify-content: flex-end;
    }
    &.ant-menu-horizontal {
        border-bottom: 0;
        background: transparent;
    }
    li {
        padding: 10px;
        color: $color-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        a {
            margin-bottom: 5px;
            color: $color-blue;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            &:after {
                content: '';
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 7px;
                background: transparent;
                position: absolute; 
                bottom: -14px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &:hover {
            a {
                font-weight: bold;
                &:after {
                    background: $color-blue;
                }
            }
        }
        &.ant-menu-submenu {
            border-bottom: 0;
        }
        &.ant-menu-item-active {
            border-bottom: 0;
        }
    }
    &.footer-nav {
        width: auto;
        justify-content: flex-start;
        @include bp(xmedium) {
            margin-left: 20px;
        }
    }
    &.redes-nav {
        padding: 0;
        justify-content: center;
        @include bp(xmedium) {
            justify-content: flex-end;
        }
        height: 100%;
        li {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: $color-blue;
                a {
                    color: $color-white;
                }
            }
        }
    }
}
.ant-menu-horizontal  {
    .ant-menu-item {
        border-bottom: 0;
        &.ant-menu-item-active {
            border-bottom: 0;
        }
        &.ant-menu-item-selected {
            border-bottom: 0;
            a {
                &:after {
                    background: $color-blue;
                }
            }
        }
    }
}

.ant-menu-submenu.ant-menu-item {
    padding: 10px;
    color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-bottom: 0;
    color: $color-blue;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: transparent;
        position: absolute;
        bottom: -15px;
        left: calc(50% - 10px);
        transform: rotate(45deg);
        // transition: .3s ease-in-out;
        transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &.ant-menu-submenu-active, &.ant-menu-submenu-open{
        &:after {
            background: $color-blue;
        }
    }
    &:hover {
        border-bottom: 0;
        color: $color-blue;
        .ant-menu-submenu-title:after {
            background: transparent;
        }
    }
    .ant-menu-submenu-arrow {
        display: none;
    }
    .ant-menu-submenu-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 7px;
            background: transparent;
            position: absolute; 
            bottom: -14px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.ant-menu-horizontal {
    .ant-menu-item {
        color: $color-grey;
        &:hover {
            border-bottom: 0;
            color: $color-blue;
        }
    }
}

.ant-menu-submenu {
    padding: 0;
    flex-direction: row;
    & > .ant-menu {
        margin-top: 10px;
       background: $color-blue;
       color: $color-white;
       border-radius: 0;
       flex-direction: column;
       min-width: 100vw;
       width: 100vw;
       padding: 0 10%;
       .ant-menu-item {
           display: inline-block;
           float: right;
           a {
               color: $color-white;
           }
           &:last-child {
               margin-bottom: 8px;
           }
           &:hover {
               a {
                   font-weight: bold;
               }
           }
       }
   
   }
}
.ant-menu-submenu.ant-menu-submenu-popup {
    background: transparent;
    padding: 0;
    &:after {
        display: none;
    }
    
}

/* Redes Sociales */

.ant-menu.redes-nav {
	.ant-menu-item  {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;	
			padding: 10px;
			margin-bottom: 0;
			i {
				color: $color-grey;
				font-size: 18px;
				text-align: center;
				margin-right: 0;	
			} 
			&:after {
					display: none;
			}
		}
		&:hover {
			
			a i { color: $color-white; }
		}
	}
}