@import '../../shared/mixins';

.umana-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 15px;
  @include element(body) {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
  }
  @include element(section) {
    &.section-avatar {
      width: 250px;
      p {
        width: 180px;
        text-align: center;
        margin: 10px 0;
      }
    }
    &.section-content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include element(title) {
    padding: 15px;
    width: 100%;
    h1, h2, h3, h4, h5 {
      color: $color-blue;
    }
  }
  @include element(item) {
    padding: 15px;
    margin-bottom: 5px;
    &.medium {
      width: 100%;
      @include bp(large) {
        width: 50%;
      }
    }
    &.large {
      width: 100%;
    }
    &:hover {
      box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.07);
    }
  }
  @include element(footer) {
    width: 100%;
    margin: 15px 0;
    padding: 0 15px;
  }
}