@import '../../shared/mixins';

.umana-grid--container {
  width: 100%;
  background: linear-gradient(to bottom, $bg-blue 0, $bg-blue 300px, $color-white 301px, $color-white 100%);
  padding: 20px;
}

.umana-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  @include bp(xmedium) {
    justify-content: flex-start;

  }
  @include element(card) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-white;
    margin: 10px;
    height: 400px;
    padding: 30px;
    border: $border-blue;
    width: 100%;
    cursor: pointer;
    min-width: 250px;
    @include bp(medium) {
      width: calc(50% - 20px);
    }
    @include bp(xlarge) {
      width: calc(33.33% - 20px);
    }
    &.create-card {
      border: 0;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &:hover {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    }
    .umana-grid-card--avatar {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.umana-page-content.page-content-large {
  &.umana-page-companieCreate {
    display: flex;
  }
}

.umana-page-companieCreate {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  @include bp(xmedium) {
    margin-top: 0;
    flex-wrap: nowrap;
  }
  @include element(avatar) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    @include bp(xmedium) {
      padding-right: 40px;
      width: 300px;
    }
  }
  @include element(form) {
    padding: 0;
    @include bp(xmedium) {
      padding: 0 0 0 15px;
      margin-right: -15px;
    }
  }
}