@import '../../shared/mixins';

.ant-select-selection{
  border: 0;
  border-radius: 0;
  background: $bg-blue;
  height: 40px;
  padding: 5px 15px;
  .ant-select-arrow {
    color: $color-blue
  }
}
