@import '../../../shared/mixins';

.ant-drawer-right{
  &.ant-drawer-open  {
    .ant-drawer-mask {
      opacity: 0.9;
    }
    .ant-drawer-content-wrapper {
      box-shadow: none;
      .ant-drawer-wrapper-body {
        display: flex;
      }
    }
  }
  .ant-drawer-mask {
    opacity: 0.9;
  }
}
.ant-drawer-content-wrapper {
  padding: 20px 10% 20px 100px;
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
  .ant-drawer-wrapper-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.ant-drawer-close {
  top: 100px;
  border: $border-blue;
  color: $color-blue;
  border-radius: 28px;
  &:hover {
    color: $color-blue;
    border: $border;
  }
}