//#Theme
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

//Color 
  $color-black:           #000000;
  $color-grey:            #444444;
  $color-white:           #ffffff;

  $color-blue:            #006E8F;
  $color-green:           #019688;
  $color-orange:          #E88213;

  $bg-blue:               #F5FCFE;
  $bg-orange:             #FFFAF6;
  $bg-grey:               rgba(205, 205, 210, 0.2);

  $color-primary:         #006E8F;
  $color-secondary:       #019688;

//Border
  $border:                1px solid rgba(0, 110, 143, 0.2);;
  $border-blue:           1px solid $color-blue;
  $border-green:          1px solid $color-green;

$color-error:           #EA354B;
$color-warning:         #F5A623;
$color-success:         $color-primary;


$font-primary:          'Muli', Helvetica, Arial, sans-serif;

//#Media Queries
$breakpoints: (
  'default':  ( min-width:    0px ),
  'tiny':     ( max-width:  320px ),
  'small':    ( min-width:  360px ),
  'medium':   ( min-width:  480px ),
  'xmedium':  ( min-width:  720px ),
  'large':    ( min-width:  960px ),
  'laptop':   ( min-width: 1024px ),
  'xlarge':   ( min-width: 1200px ),
  'xxlarge':  ( min-width: 1400px ),
  'xxxlarge': ( min-width: 1900px ),
);

$gk-layout-padding: (
  default: 24px, 
  phone-landscape: 32px, 
  tablet-portrait: 48px, 
  tablet-landscape: 72px
);


@mixin padding-y(){
  padding-bottom: 10px;
  padding-top: 10px;
  @include bp(medium){
  padding-bottom: 20px;
  padding-top: 20px;
  }
  @include bp(large){
  padding-bottom: 40px;
  padding-top: 40px;
  }
}

@mixin padding-x(){
  padding-left: 10px;
  padding-right: 10px;
  @include bp(small){
  padding-left: 20px;
  padding-right: 20px;
  }
  @include bp(medium){
  padding-left: 40px;
  padding-right: 40px;
  }
  @include bp(xmedium){
  padding-left: 60px;
  padding-right: 60px;
  }
  @include bp(large){
  padding-left: 80px;
  padding-right: 80px;
  }
}

@mixin  max-width() {
  max-width: 1600px;
  margin: 0 auto;
}