@import './mixins';

/* Container */
  .umana-container {
    width: 100%;
    min-height: calc(100vh - 200px);
  }

/* Layout */
  .umana-layout {
    width: 100%;
    @include max-width();
    @include padding-x();
  }
/* Content */
  .umana-page-content {
    width: 100%;
    display: block;
    padding: 0 30px;
    &.page-content-color {
      padding: 15px;
      @include bp(medium) {
        padding: 30px;
      }
      background: linear-gradient(to bottom, $bg-blue 0, $bg-blue 400px, $color-white 400px, $color-white 100%);
    }
    &.page-content-large {
      margin-bottom: 200px;
      padding: 0;
    }
  }

/* Title */
  .umana-page-title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 50px 0 0;
    justify-content: space-between;
    @include bp(xmedium) {
      padding: 100px 0 0;
    }
    .umana-title {
      width: 100%;
      color: $color-blue;
      margin-bottom: 10px;
      width: calc(100% - 100px);
      @include bp(xmedium) {
        width: calc(100% - 100px);
        margin-bottom: 50px;
      }
      &.title-search {
        width: 100%;
        @include bp(xmedium) {
          width: calc(100% - 325px);
        }
      }
      * {color: $color-blue;}
    }
    &.title-color {
      background: $bg-blue;
    }
  }

/* Description */
  .umana-page-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &.umana-right {
      align-items: flex-end;
    }
  }