@import '../../shared/mixins.scss';

.umana-header {
    width: 100%;
    @include max-width();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    @include padding-x();
}