@import '../../shared/mixins';


.umana-footer {
    width: 100%;
    @include padding-x();
    @include max-width();
    @include element(container) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        background: $bg-blue;
        position: relative;
        height: auto;
        @include bp(xmedium) {
            height: 100px;
        }
    }
    @include element(menu) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        @include bp(xmedium) {
            justify-content: flex-start;
            height: 100px;
            padding: 10px 30px;
            width: 60%;
            flex-wrap: nowrap;
        }
        p {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
            @include bp(xmedium) {
                width: auto;
            }
        }
    }
    @include element(redes) {
        width: 100%;
        height: 50px;
        padding: 0;
        @include bp(xmedium) {
            height: 100px;
            width: 40%;
        }    
    }
}