@import '../../shared/mixins';

.umana-search {
  padding: 30px 0 30px 10px;
  width: 100%;
  min-width: 325px;
  @include bp(xmedium) {
    width: 325px;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
      color: $color-grey;
      width: 20px;
      font-size: 18px;
      margin-right: 10px;
    }
  }
}