@import '../../shared/mixins';

.umana-login {
  background: $bg-blue;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  color: $color-blue;
  padding: 0 0 0 10%;
  @include element(img) {
    width: 100%;
    height: 300px;
    @include bp(large) {
      height: 100%;
      width: 40%;
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      object-position: center right;
    }
  }
  @include element(form) {
    top: 0;
    right: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include bp(large) {
      width: 60%;
    }
    .umana-login--form {
      height: calc(100% - 50px);
      padding: 10% 50px 50px;
      padding-right: 15%;
      display: flex;
      background: $color-white;
      .umana-form {
        margin-top: auto;
      }
    }
    .umana-login--button {
      display: flex;
      padding: 50px;
    }
  }
}