@import './shared/mixins';
@import './shared/resets';

//#Basic Setup

a, button, span, div, i {
  -webkit-tap-highlight-color: transparent;
}

a, button, i {
  user-select: none;
}

html, body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, main {
  min-width: 320px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background: #fff;
  font-size: 14px;
  margin: 0 auto;
  font-family: $font-primary !important;
  overflow-x: hidden;
  width: 100vw;
  letter-spacing: 1px;
}

html, body, #root {
  height: 100%;
}

#root {
  position: relative;
  z-index: 1;
}

//#Typography

h1, h2, h3 {
  line-height: 1.25;
  color: $color-blue;
}

h4, h5, h6 {
  line-height: 1.5;
}

h1 { font-size: 36px; font-weight: 600 !important }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

@include bp(xxlarge){
  h1 { font-size: 40px; }
  h2 { font-size: 36px; }
  h3 { font-size: 32px; }
}

p {
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
}

a {
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
  transition: all, .3s;
  &:hover, &:focus, &:active, &.active{
    color: $color-secondary;
  }
}

strong, b {
  font-weight: 700;
}

hr {
  border: none;
  border-bottom: solid $color-primary 1px;
  margin: 20px;
}

.menu-icon {
  width: 20px;
  height: 14px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block;
  margin: 0;
  flex: 0 0 auto;
  &.general{
    @include bp(xmedium){
      display: none;
    }
  }
  span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color-black;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),&:nth-child(3) {
      top: 6px;
    }
    &:nth-child(4) {
      top: 12px;
    }
  }
  @include modifier(open){
    span{
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}


.umana-col-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

